body {
    font-family: Arial, sans-serif;
    background-color: rgb(124, 123, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.calculadora {
    background-color: #161115;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

h2 {
    color: #fff;
    font-size: 1.5em;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.botoes button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70px;
}

.botoes button:hover {
    background-color: #45a049;
}

#resultado {
    font-weight: bold;
    color: #4CAF50;
}

footer {
    margin-top: 20px;
    font-size: 1em;
    color: white;
}

.botoes button:last-child {
    width: 80%;  
    max-width: 200px; 
}

@media (max-width: 400px) {
    .calculadora {
        padding: 15px;
    }

    .botoes button {
        padding: 12px;
        font-size: 1em;
    }

    input {
        font-size: 1em;
        padding: 8px;
    }

    h2 {
        font-size: 1.3em;
    }

    footer {
        font-size: 0.9em;
    }
}